@{
    ViewData["Title"] = "Employee Home";
}

<h1>Welcome employee @ViewBag.EmployeeName!</h1>

<div class="button-container">
    <button onclick="location.href='@Url.Action("AddFarmer", "Employee")'">Add Farmer</button>
    <button onclick="location.href='@Url.Action("ViewAllFarmerProducts", "Product")'">View Products</button>
    <button onclick="location.href='@Url.Action("Login", "Login")'">Logout</button>
    <button onclick="location.href='@Url.Action("FilterFarmers", "Employee")'">Filter Farmers</button>
    <button onclick="location.href='@Url.Action("FilteredProducts", "Employee")'">Filter Products</button>


</div>

